.show__container {
  padding: 25px 15px;
}

.show__photo {
  width: 100%;
  margin: 14px 0 16px;
  border-radius: 14px;
}

.show__time {
  font-size: 13px;
  color: #909090;
}

.show__text {
  font-size: 16px;
  line-height: 2;
}
