module.exports = {
    networks: {
        development: {
            host: '', // your host
            port: , // your port
            network_id: 'appchain', // any string is ok to be a placeholder
            privateKey: '', // your private key
            quota: 99999999,
        },
    },
};
