.add__content--container {
  padding: 0 15px;
}

.add__content--container>div,
.add__content--container>input,
.add__content--container>textarea,
.add__content--container>button {
  margin: 15px 0;
}

.add__content--container>textarea {
  margin-bottom: 31px;
}

.add__content--container>div {
  margin-bottom: 0;
}

.add__time--container {
  background: #fff;
  border-radius: 4px;
  text-align: center;
  padding: 23px 0;
  box-shadow: 0 10px 10px 0 rgba(254, 121, 43, 0.05);
}

.add__time--year,
.add__time--month,
.add__time--day,
.add__time--hour,
.add__time--min {
  font-weight: bold;
  border: 1px solid #e3e3e3;
  padding: 9px 8px;
  font-size: 22px;
  border-radius: 4px;
  margin: 0 6px;
}

.add__content--prompt {
  color: #828181;
  font-size: 12px;
}

.add__content--prompt svg {
  margin-right: 8px;
}

.add__content--textarea {
  display: block;
  width: 100%;
  border-radius: 4px;
  border: none;
  background: #fff;
  box-shadow: 0 10px 10px 0 rgba(254, 121, 43, 0.05);
  resize: none;
  padding: 12px;
}

.add__content--pic {
  position: relative;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 10px 10px 0 rgba(254, 121, 43, 0.05);
  resize: none;
  padding: 11px 18px;
}

.add__content--pic input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
