.home__logo--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 15.7vh;
  padding-bottom: 4.9vh;
  border-bottom: 1px solid #F3F3F3;
}

.home__logo--container img {
  padding-bottom: 7px;
}

.home__logo--text {
  font-family: 'Arial Hebrew', "Arial";
  font-size: 18px;
}

.home__slogan--container {
  padding: 8.3vh 5.6vw 0;
}

.home__slogan--title {
  margin: 0;
  padding: 0;
  font-size: 20px;
  text-align: center;
}

.home__slogan--text {
  color: #828181;
  line-height: 2;
}
